server:
  port: 80
  # 使用 Undertow 作为 Web 服务器，解决 Tomcat 对响应头字符集的严格限制
  servlet:
    context-path: /

spring:
  servlet:
    multipart:
      max-file-size: 5000MB
      max-request-size: 5000MB
  security:
    user:
      name: admin
      password: ${ADMIN_PASSWORD:change-me}
  main:
    web-application-type: servlet

storage:
  path: ${STORAGE_PATH:/var/flashshare/files}
  max-size: 524288000 # 500MB in bytes
  cleanup-interval: 300000 # 5 minutes in ms


